{% extends "base.html" %}

{% block content %}

<h2>
    Diagnostics
</h2>

<p>All configs for SequenceServer Updater can be found in <b>src/global_settings.py</b> </p>

{% if not volume_mounted %}
    <p style="color:red"> ERROR: Shared directory for FASTA files and BLAST db files does not exist! Please mount an Azure File Share to /db in Path Mapping</p>
{% endif %}

<p>The following configs are <b>required</b> for proper functionalities. </p>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Setting</th>
        <th scope="col">Exists?</th>
      </tr>
    </thead>
    <tbody>
        {% for var in global_vars.required %}
            <tr>
                <td>{{ var }}</td>
                <td>{{ global_vars.required[var] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<p>The following configs are <b>optional</b>. </p>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Setting</th>
        <th scope="col">Exists?</th>
      </tr>
    </thead>
    <tbody>
        {% for var in global_vars.optional %}
            <tr>
                <td>{{ var }}</td>
                <td>{{ global_vars.optional[var] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}