{% extends "base.html" %}

{% block content %}

<h2>
    Welcome to SequenceServer Database Updater
</h2>

Click the button below to pull the latest sequences from your Benchling Warehouse:

<form method="post" action="">
    {% if prev_job %}
        <button disabled type="submit" class="btn btn-primary">
            Job In Progress
        </button>
    {% else  %} 
        <button type="submit" class="btn btn-primary">
            Run Query and Rebuild BLAST DB
        </button>
        <br>

        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="restart" name="restart" value="True" checked>
            <label class="form-check-label" for="restart">Restart SequenceServer</label>
        </div>

    {% endif %}
</form>

<br/>
<a class="btn btn btn-outline-primary" href="/" role="button">Refresh Results</a>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Time</th>
        <th scope="col">Query Status</th>
        <th scope="col">SequenceServer Status</th>
      </tr>
    </thead>
    <tbody>
      {% if all_status %}
        {% for status in all_status %}
            <tr>
                <td>{{ status.datetime }}</td>
                <td>{{ status.db_status }}</td>
                <td>{{ status.cloud_app_status }}</td>
            </tr>
        {% endfor %}
      {% else %}
        <tr>
            <td>No previous jobs</td>
            <td>N/A</td>
            <td>N/A</td>
        </tr>
       {% endif %}
    </tbody>
  </table>

{% endblock %}