{% extends "base.html" %}

{% block content %}

<h2>
    Enable Link to Benchling from SequenceServer's Search Result Page
</h2>

<img src="static/images/SequenceServer_Benchling_Link.png">

<br/>
<br/>

<p>
    With this redirection API, it is possible to add a clickable link on SequenceServer's search result page that redirects you to the corresponding page of the sequence on your Benchling account.

    For more information, check
    <a href="https://Max-width 30%sequenceserver.com/doc/#plugin">https://sequenceserver.com/doc/#plugin </a>
    
</p>

<p>
    To enable this feature, add the following function to the <b>links.rb</b> file of SequenceServer:
</p>

<div class="jumbotron">
    <pre class="pre-scrollable">
    <code>
    def benchling
        benchling_id_pattern = /\bseq_\S+/
        return nil unless id.match(benchling_id_pattern) or title.match(benchling_id_pattern)
        seq_id = Regexp.last_match
        url = "{{ request.url._url }}/#{seq_id}"
        {
            order: 2,
            title: 'Benchling',
            url: url,
            icon:  'fa-external-link'
        }
    end
    </code>
    </pre>
</div>

{% endblock %}