{% extends "base.html" %}

{% block content %}

<h2>
    Restart SequenceServer
</h2>

{% if success %}
    <p>Successfully restarted SequenceServer!</p>
{% else %}
    <p>Failed to restart SequenceServer! Message: {{ status }}</p>
{% endif %}

<a href="/upload_fasta"
class="btn btn-primary btn-sm active"
role="button"
aria-pressed="true">Back</a>

{% endblock %}