{% extends "base.html" %}

{% block content %}

<h2>
    Upload FASTA Files
</h2>

1. Upload your fasta files here. Once uploaded, we will automatically produce BLAST databases for use in SequenceServer.

<form action="" method="POST" class="form-group" enctype="multipart/form-data">
    <br/>
    <input type="file" name="file"><br/>
    <br/>
    <button type="submit" class="btn btn-success">Upload</button>
</form>

{% if message %}
    <p style="color:red">{{ message }}</p>
{% endif %}

<br/>

<p>2. Restart your SequenceServer Instance to enable the FASTA file you just uploaded:</p>

<form action="/restart_app" method="POST" class="form-group" enctype="multipart/form-data">
    <button type="submit" class="btn btn-primary">Restart SequenceServer</button>
</form>

{% endblock %}